@using ProjectMuseum.ViewModels


@model DeportVM

           
            <header class="page-header" data-background="images/7.jpg">
                <div class="inner">

                    <h1 style="font-size:35px; margin-bottom:140px; margin-left:20px;">Qerbi Azerbaycanlilarin Deportasiyadan evvelki fotolari </h1>
                </div>

            </header>

            <section class="content-section" data-background="#fffbf7">
                <div class="container">
                    <div class="row justify-content-center">

                        @foreach (var item in Model.BeforeDeportations)
                        {

                            <div class="col-lg-4 col-md-6 deportation">
                                <div class="exhibition-box" data-scroll data-scroll-speed="1">
                                    <figure>
                                        <a href="exhibition-detail.html"><img src="@item.İmage" alt="Image" class="img deporation"></a>

                                    </figure>

                                </div>

                            </div>

                        }

                    </div>
                   
                </div>
               
            </section>
         
            <section class="content-section no-spacing" data-background="#94ffc4">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="newsletter-box">
                                <div class="form">
                                    <div class="titles">
                                        <h6>Subscribe Newsletter</h6>
                                        <h2>
                                            Sign up to get the
                                            latest news
                                        </h2>
                                    </div>
                                
                                    <div class="inner">
                                        <input type="email" placeholder="Enter your e-mail address">
                                        <input type="submit" value="SIGN UP">
                                    </div>
                               
                                    <small>Will be used in accordance with our <a href="#">Privacy Policy</a></small>
                                </div>
                         
                                <figure class="newsletter-image" data-scroll data-scroll-speed="0.7"><img src="images/newsletter-image.png" alt="Image"></figure>
                            </div>
                     
                        </div>
               
                    </div>
            
                </div>
    
            </section>


    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/locomotive-scroll.min.js"></script>
    <script src="js/kinetic-slider.js"></script>
    <script src="js/fancybox.min.js"></script>
    <script src="js/odometer.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/scripts.js"></script>
